{% extends 'base.html' %}

{% block content %}

    <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome</p>
                </div>
            </div>
        </header>

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <br/><br/>
                    <p align="justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pulvinar odio nec nibh cursus aliquet. Nam commodo eget velit a fermentum. Nulla a sem pharetra nisi varius auctor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse cursus in magna luctus feugiat. Nam bibendum mauris rutrum nibh eleifend placerat. Aliquam auctor orci nec lobortis dictum.
                        <br/><br/>
                        Nullam sagittis lectus urna. Integer ac est blandit, pellentesque est sed, dignissim neque. In eget sapien tincidunt, cursus turpis id, malesuada arcu. In hac habitasse platea dictumst. Proin a felis hendrerit, aliquet magna quis, mattis mauris. Duis eleifend dolor non ullamcorper aliquam. Phasellus nec dolor commodo, imperdiet magna dapibus, fermentum lorem. Donec semper neque eget mauris aliquet, sed facilisis lectus finibus.
                        <br/><br/>
                        Duis ornare rhoncus nisl, et laoreet purus mollis id. Pellentesque imperdiet, odio sed dapibus sollicitudin, arcu nunc interdum ligula, sed hendrerit orci justo id neque. Nam rutrum purus nec consequat elementum. Suspendisse justo metus, sodales nec dignissim vel, consequat ut risus. Nunc gravida molestie augue bibendum euismod. Sed ornare vestibulum nunc sed porttitor. Proin congue leo nec nulla commodo, nec interdum erat volutpat. Donec nec facilisis purus. Quisque commodo elementum elit et condimentum. Quisque finibus orci enim, nec varius mi bibendum non. Integer rutrum dictum leo, sit amet egestas nunc scelerisque consectetur. Morbi sed porttitor elit, eget malesuada mauris. Vivamus id commodo lectus, dictum tristique lectus.
                    </p>
                    <br/><br/>
                </div>
            </center>
        </div>
    </div>

{% endblock %}